<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>{% block title %}{% endblock title %}</title>
    
</head>

<body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href='/'>YourRoom</a>
        <form class="form-inline"> {% csrf_token %}

            {% if user.is_authenticated %}
            
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle mx-2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Welcome {{user.username}}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/logout/">Logout</a>
                </div>
            </div>

            {% else %}


            <button type="button" class="btn btn-success mx-2" data-toggle="modal" data-target="#signinModal">
                Login
            </button>

            <!-- Button for signUp modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#signupModal">
                Sign up
            </button>

            {% endif %}

        </form>
        </div>
    </nav>

    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" style = "margin:0" role="alert">
        <strong>Message: {{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}
    {% endif %}

    <!-- Signup Modal -->

    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModal"> <span class="auto-type"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/signup/"> {% csrf_token %}
                        <div class="form-group">
                            <label for="fName">First Name</label>
                            <input name="fName" type="name" class="form-control" id="fName"
                                placeholder="Your First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="lName">Last Name</label>
                            <input name="lName" type="name" class="form-control" id="lName" placeholder="Your Last Name"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input name="username" type="name" class="form-control" id="username"
                                placeholder="Choose an unique username" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input name="email" type="email" class="form-control" id="email"
                                placeholder="name@example.com" required>
                        </div>
                        <div class="form-group">
                            <label for="pass1">Password</label>
                            <input name="pass1" type="password" class="form-control" id="pass1"
                                placeholder="Choose a password" required>
                        </div>
                        <div class="form-group">
                            <label for="pass2">Confirm Password</label>
                            <input name="pass2" type="password" class="form-control" id="pass2"
                                placeholder="Enter you password again" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>



    <!-- SignIn Modal -->

    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signinModal"><span class="myauto-type"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/login/">

                        {% csrf_token %}

                        <div class="form-group">
                            <label for="loginusername">Username</label>
                            <input name="loginusername" type="text" class="form-control" id="loginusername"
                                placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <label for="loginpass">Password</label>
                            <input name="loginpass" type="password" class="form-control" id="loginpass"
                                placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>    
       

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>

        var typed = new Typed('.auto-type', {
            strings: ['Create an account'],
            typeSpeed: 30,
            backSpeed: 90,
            loop: true
        })

        var mytyped = new Typed('.myauto-type', {
            strings: ['Login to YourBook'],
            typeSpeed: 30,
            backSpeed: 90,
            loop: true
        })


    </script>




    {% block body %}{% endblock body %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>